.cmdrTracker {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

#playerButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
}

#playerOrderButton, #sixSidedDie {
    display: flex;
    width: 200px !important;
    justify-content: center;
    flex-direction: column;   
    border-style: solid;
    border-width: medium;
    align-items: center;
    margin: 1rem;
}

.healthContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 700px) {
    .healthContainer {
      margin-left: 0%;
      margin-right: 0%;
    }
  }

button {
    min-width: 60px;
    max-width: 60px;
    border-style: solid;
    border-width: medium;
    font-weight: bold;
}

#jordanHealth,
#blakeHealth,
#toneHealth,
#dillonHealth,
#willHealth,
#paulHealth {
    display: flex;
    width: auto;
    justify-content: center;
    flex-direction: column;   
    border-style: solid;
    border-width: medium;
    align-items: center;
    margin: 1rem;
}

.lifeTotal {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 24px;
    font-weight: bold;
}

#jordanHealth {
    background-color: blue;
}

#blakeHealth {
    background-color: crimson;
}

#toneHealth {
    background-color: green;
}

#dillonHealth {
    background-color: gold;
}

#willHealth {
    background-color: violet;
}

#paulHealth {
    background-color: salmon;
}